
source "Kconfig.zephyr"

menu "Custom Application Configuration"

config ZEPHYR_COURSE_LOG_LEVEL
    int "Log Level for the application"
    default 1
    range 0 4
    help
      Set the log level for the application:
      - 0: None
      - 1: Error
      - 2: Warning
      - 3: Info
      - 4: Debug
      The default is 1 (Error). Only messages of this level or higher will be logged.
config BOARD
    string # Is invisible since we dont define a prompt
    default "zephyr_course_board"
    help
      Set a custom board name. This value will override the default board name.
config UART_DEVICE_ENABLED
    bool "Enable UART Device"
    default y if SERIAL && UART_ASYNC_API
    help
      Enable UART device for the application.
endmenu
